.hero-container{
    width: 100%;
    height: 110vh;
    max-height: 400px;
    min-height: 500px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;
    border-width: 0;
    justify-content: left;
}

.main-container .hero-container{
    width: 100%;
    max-width: 1700px;
}


.hero-text-container{
    margin: auto;
    text-align: center;
    width: 100%;
    margin-bottom: -13.2vh;
    padding: 40px 0px 40px 0px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    text-align: center;
}


.hero-text-container h1{
    font-size: 11.6vh;
    line-height: 11.1vh;
    color: rgb(184 228 209);
}

.hero-text-container h2{
    font-size: 6.2vh;
    line-height: 6.0vh;
    color: rgb(25 174 157);
}

.hero-button-image-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0;
    position: sticky;
    top: 40px;
    justify-content: left;
}

.hero-button-image-container button{
    width: 100px;
    height: 50px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px;
    border: antiquewhite solid 2px;
    background-color: transparent;
    color: white;
    font-size: 1rem;
}


.hero-image{
    width: 90%;
    max-width: 700px;
    margin: auto;
}

.hero-container h3{
    color: white;
}