
.navbar-container{
    display: flex;
    height: max-content;
    justify-content: space-between;
    position: sticky;
    background-color: #000000;
    max-width: 1400px;
    margin: auto;
    width: 100%;
    border: none;
    color: rgb(255, 255, 255);
    top: 0px;
    z-index: 100;
    height: 60px;
    align-content: center;
    padding: 0px 10px;
    border-bottom: 1px solid black;
  }

.navbar-container{
  max-width: none;
}



  .disable-scroll  {
    overscroll-behavior: hidden;
    background-color: #000000;
  }

  .logo{
    color: black;
    align-self: center;
    font-size: 10px;
    margin: auto;
    margin-left: 10px;
    width: 50px;
    padding: 0px;
    margin-right: 0;
  }

  .cart-icon{
    font-size: 25px;
    color: gray;
    cursor: pointer;
    position: relative;
    transition: transform .4s ease;
    border: none;
    background-color: transparent;
  }

  .cart-item-qty{
    position: absolute;
    right: -1px;
    top: 10px;
    font-size: 12px;
    color: #eee;
    background-color: #f02d34;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
    line-height: 18px;  
  }

  .navbar-container-first{
    display: flex;
    gap: 0px;
    width: 100%;
    max-width: 500px;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0px 30px 0px 0px;
    margin: auto;
    margin-left: 0;
  }

  .logos {
    color: rgb(255, 255, 255);
    align-self: center;
    font-size: 12px;
    justify-self: left;
  }


  .cart-container{
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    background-color: rgb(255, 255, 255);
    float: right;
    padding: 40px 0px;
    overflow:auto;
    z-index: 1100;    
    border: 1px solid rgb(0, 0, 0);
  }


  .main-container{
    max-width: 1400px; 
    margin: auto;
    width: 100%;
  }


  .cart-wrapper{
    width: 100%;
    background: rgba(255, 0, 0, 0);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    /* will-change: transform; */
    transition: all 1s ease-in-out;
    padding: 0;
    margin: 0;
    overflow: scroll;
    height: 101vh;
  }

  .main-container{
    padding: 0;
  }

  .cart-heading{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    gap: 2px;
    margin-left: 10px;
    border: none;
    background-color: transparent;
  }
  
  .cart-heading .heading{
    margin-left: 10px;
    color: rgb(0, 0, 0);
  }
  .cart-num-items{
    margin-left: 10px;
    color: #f02d34;
  }
  .empty-cart{
    margin:40px;
    text-align:center;
    color: rgb(0, 0, 0);
  }
  .empty-cart h3{
    font-weight: 600;
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
  
  
  .cancel{
    cursor: pointer;
    color: red;
    background-color: red;
  }


  
.cancel{
  cursor: pointer;
  color: red;
  background-color: red;
}
.product-containerz{
  margin-top: 15px;
padding: 10px 10px;
width: 100%;
display: flex;
flex-direction: column;
}
.flextop{
  padding: 10px;
  color: rgb(0, 0, 0);
}


.cart-product-image{
  background-color: #ff0000;
  width: 100%;
  max-width: 200px;
}

.item-desc .flextop{
  width: 100%;
  color: #000000;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item-desc .bottom{
  margin-top: 60px;
}
.flex h5{
  font-size: 24px;
}
.flex h4{
  font-size: 20px;
}
.total{
  display: flex;
  justify-content: space-between;
}
.total h3{
  font-size: 22px;

}
.remove-item{
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}
.cart-bottom{
  border-radius: 10px;
width: 100%;
padding: 30px 65px;
color: rgb(0, 0, 0);
}

.product-in-cart{
  padding: 20px 10px;
}





@media screen and (max-width:800px) {

.cart-container{
  width: 100vw;
padding: 4px;
z-index: 1000;
min-height: 100vh;
overflow-y: scroll;
height: fit-content;
position: absolute;
z-index: 11100 !important;
}

.cart-heading{
  margin-top: 15px;
}
.product-containerz{
  margin-top: 10px;
}



.cart-product-image{
  background-color: #ffffff;
  width: 100%;
  max-width: 180px;
}


.buttons .add-to-cart{
  width: 150px;
}
.buttons .buy-now{
  width: 150px;
}
.product-detail-container{
  margin: 20px;
}

.item-desc .bottom{
margin-top: 30px;
}
.flex h5{
font-size: 16px;
 color: #000000;
}
.flex h4{
font-size: 16px;
text-align: right;
 color: rgb(0, 0, 0);
}
.cart-bottom{
padding: 30px;
margin-bottom: 50px;
}

.total h3{
font-size: 20px;
}
}


