.product-card{
    cursor: pointer;
    color: #000000;
   border: 1px solid white;
   box-sizing: border-box;
   transition: 0.3s ease-in-out ;
   padding: 20px;
   padding-top: 0;
}

.product-card:hover{
    border: 1px solid black;
}

.gift-card:hover{
  border: 1px solid black;
}

@media (hover:none){
  .product-card:hover{
    border: none;
}

.gift-card:hover{
  border: none;
}
}


.gift-card{
  cursor: pointer;
  color: #000000;
  border: 1px solid white;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  padding: 20px;
  padding-top: 0;
}


.product-image{
    width: 100%;
    max-width: 300px;
    border: none;
    box-sizing: border-box;
    padding: 20px;
  }
  
  .product-name{
    font-weight: 500;
    margin-top: 10px;
  }
  .product-price{
    font-weight: 800;
    margin-top: 6px;
    color: rgb(255, 0, 0);
  }


  .gift-image{
    width:  100%;
    max-width: 300px;
    border: none;
    box-sizing: border-box;
    padding: 20px;
  }